*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    background-color: rgb(1,78, 86);
}
.contenier{
    width: 1110px;
    margin: 0 auto;
    padding: 0 auto;

}
.site-header{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.header-top{
    padding: 73px 0 140px;
    display: flex;
    justify-content: space-between;
    
}
.header-logo-wrappr{
    display: flex;
    justify-content: space-between;

}
.header-logo-{
    margin-right: 80px;
}
.header-navbar{
    display: flex;
    justify-content: space-between;

}
.navbar-list{
    margin-right: 40px;
}
.navbar-list:hover{
    color:  rgb(246, 126, 126)
}
.navbar-link{
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
   
}
.header-cantact-us:hover{
    background-color: beige;
    color: rgb(1,78, 86);
}
.header-cantact-us{
   
    width: 153px;
    height: 48px;
    padding:  7px 0;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}
.site-main{
    background-image: url("../images/Group\ 811.png"), url("../images/Group\ 711.png");
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}
.site-find{
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
   

}
.titl-span{
    color: rgba(246, 126, 126, 1);

}
.site-titl{
 width:  550px;
 height: 200px;
 margin-right: 30px ;
 font-family: Livvic;
 font-size: 100px;
 font-weight: 700;
 line-height: 100px;
 text-align: left;
 
}
.site-btn{
 width: 50px;
 height: 4px;
 border: none;
 background:rgb(226, 236, 235);
}
.site-text{
    width: 445px;
    height: 112px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.site-build-div{
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}
.build-section{
    background-color: rgb(1, 47, 52);
    padding-bottom: 141px ;
    background-image: url("../images/Group\ 813.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.site-build{
    margin-right: 125px;
}
.site-span{
    width: 50px;
    height: 4px;
    color: rgb(246, 126, 126);
}
.titl-build{
    width: 445px;
    height: 202px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}
.site-titl-h3{
    padding-bottom: 16px;
    color: rgb(246, 126, 126);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.site-div-Individuals{
    margin-left: 23px;
}
.site-individuals{
    width: 540px;
    height: 94px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.site-text-our{
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}
.delivering-section{
    padding-bottom: 140px;
    background-image: url("../images/Group\ 815.png"), url("../images/Group\ 8\ Copy15.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.delivering-section{
    padding-top: 140px;
}
.delivering-titl{
    width: 932px;
    height: 96px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    
}
.delivering-ul{
  display: flex;
  justify-content: space-between;

}
.delivering-list{
  padding-top: 36px;
  background-image: url("../images/“.png");
    background-repeat: no-repeat;
    background-position: center top;
}
.delivering-text{
    width: 350px;
    height: 100px;
    margin-bottom: 24px;
    
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    
}
.delivering-str{
    margin-left: 120px;
    color: rgb(121, 200, 199);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}
.delivering-text-2{
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}
.delivering-img{
    margin:  32px 120px;
}
.ready-section{
    height: 200px;
    background-color: rgb(246, 126, 126);
    background-image: url("../images/Group-de.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
.ready-div{
    padding: 76px 0;
    display: flex;
    justify-content: space-between;
}
.ready-titl{
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    
}
.ready-btn{
    background-color: rgb(246, 126, 126);;
}
.fotter-div{
    padding: 46px 0;
    display: flex;
    justify-content: space-between;
}
.footer-img{
    padding-bottom: 25px;
}
.footer-navbar{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.footer-link{
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
}
.footer-text{
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}
.footer-list2{
    display: flex;
    gap: 20px;
    text-align: right;
}
.footer-text-all{
    margin-top: 40px;
    color: aliceblue;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-align: right;
    
}
.cantact-section{
    background-image: url(../images/Group\ 8\ contact.svg),url(../images/Group\ 4\ cantact.svg);
    background-repeat: no-repeat;
    background-size: 100px 200px, 113px 225px;
    background-position: left top, right bottom;
}
.Cantact{
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
.Cantact-cantent-wrapper{
    width: 453px;
}
.Cantact-titl{
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0px;
}
.cantact-text{
    margin-bottom: 32px;
    color: rgb(246, 126, 126);
    font-family: Livvic;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
}
.cantact-item{
    display: flex;
    align-items: center;
    gap: 23px ;
}
.cantact-item + .cantact-item{
    margin-bottom: 8px;
}
.infarmation-text{
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}
.Cantact-form{
    width: 540px;
    display: flex;
    flex-direction: column;
}
.Cantact-input{
    margin-top: 24px;
    margin-left: 14px;
    padding-bottom: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px solid  rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.12px;
}
.Cantact-input:focus{
    border-bottom: 1.5px solid rgb(121, 200, 199);
}
textarea{
 resize: none;
}

.cantact-input:focus{
    border-bottom: 1.5px solid rgb(121, 200, 199);

}
.Cantact-submit-btn{
    width: 123px;
    padding: 10px 0;
    margin-top: 24px;
    box-sizing: border-box;
     border-radius: 24px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 24px;
    background: rgb(255, 255, 255);
    color: rgb(0, 64, 71);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}
